<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
<p>admin</p>
<p>userInfo update</p>
<form action="update" method="post">
    <table th:each="list:${userInfoList}">
        <input type="hidden" name="userid" th:value="${list.userid}">
        <tr>账号<input type="text" name="userAccount" th:value="${list.userAccount}"></tr>
        <tr>密码<input type="text" name="password" th:value="${list.password}"></tr>
        <tr>邮箱<input type="text" name="email"  th:value="${list.email}"></tr>
        <tr>图片<input type="text" name="image" th:value="${list.image}"></tr>
    </table>
    <input type="submit" value="update">
</form>

</body>
</html>